.admission-page {
  margin-top: 30px;

  h3 {
    font-size: 26px;
    font-weight: 500;
    color: $theme_color2;
    margin-top: 30px;
    line-height: 38px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
  .admission-criteria {
    h6 {
      font-size: 20px;
      color: $theme_color1;
      margin-bottom: 10px;
      font-weight: 600;
      margin-top: 20px;
      line-height: 28px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
    }
  }
  ul {
    padding: 0px;
    list-style-type: none;
    li {
      i {
        color: $theme_color1;
      }
      font-size: 16px;
      padding: 5px;
      font-weight: 500;
      line-height: 26px;
    }
  }
}
