.footer {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;

  h6 {
    font-size: 20px;
  }

  .footer-container {
    background-color: $theme_color1;
    color: white;
    a {
      color: white !important;
    }
  }
}
