.news {
    font-family: "Montserrat", sans-serif;
    min-height: 500px;
    h1 {
        font-size: 32px;
        font-weight: 600;
        margin-top: 50px;
        text-align: center;
        line-height: 42px;
    }
    .news-row {
        .card {
            border: none;
            margin: 30px 15px;
            .card-image {
                position: relative;
                height: 200px;
                img {
                    height: 200px;
                }
                &:hover .img-card-overlay {
                    display: block;
                }
            }
            .img-card-overlay {
                position: absolute;
                height: 100%;
                display: none;
                padding-top: 80px;
                font-size: 30px;
                color: white;
                background: rgba(29, 99, 179, 0.7);
                width: 100%;
                z-index: 999;
                top: 0;
                left: 0;
            }
            .card-body {
                padding: 0px;
                .card-posted {
                    padding-top: 15px;
                    font-weight: 700;
                    color: $theme_color1;
                    font-size: 14px;
                }
                span {
                    font-weight: 500;
                    color: $theme_color2;
                    font-size: 14px;
                }
                .card-title {
                    font-size: 22px;
                    margin-top: 20px;
                }
                .btn-news {
                    padding: 10px 20px;
                    background-color: $theme_color1;
                    border: 0px;
                    border-radius: 30px;
                    font-size: 16px;
                    &:hover {
                        background-color: white;
                        border: 1px solid $theme_color1;
                        color: $theme_color1;
                        transition: 0.4s all;
                    }
                }
            }
        }
    }
}
